<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  <meta name="google-site-verification" content="2FCvmNkt87gickSYufrg6BYLWF6buLE1AlN91_9qDIg" />
</head>
<body>
  <header>
  <div class="container">
    <h1>
      <a href="{{ "/" | relURL }}">{{ .Site.Title }}</a>
    </h1>

    <nav>
  <a
    href="{{ "/" | relURL }}"
    class="{{ if .IsHome }}active{{ end }}"
  >
    Blog
  </a>

  {{ with .Site.GetPage "about" }}
    <a
      href="{{ .RelPermalink }}"
      class="{{ if eq $.RelPermalink .RelPermalink }}active{{ end }}"
    >
      About
    </a>
  {{ end }}
</nav>



  </div>
</header>


  <main class="container">
    {{ block "main" . }}{{ end }}
  </main>
  
  {{ partial "footer.html" . }}
</body>

</html>
